<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/private-movies">My movies</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">{{movie.title}}</li>
    </ol>
</nav>


<li data-id="{{movie._id}}">
    <div class="movie-data">
        <div class="img">
            <img src="{{movie.imgUrl}}">
        </div>
        <div class="movie-title">
            <h2>{{movie.title}}</h2>
            <p>{{movie.year}}</p>
            <div>
                <h4>Price:</h4>
                <span>${{movie.price}}</span>
            </div>
            <div>
                <h4>Director:</h4>
                <span>{{movie.director}}</span>
            </div>
        </div>
        <h4>Full description:</h4>
        <div class="desc">
            {{movie.fullDescription}}
        </div>
        <h4>Reviews:</h4>
        <ul class="desc">
            <li *ngFor="let review of movie.reviews
            let i = index">
                <div>
                    <h5>{{review.rating}}</h5>
                    <p>{{review.text}}</p>
                    <p>{{review.name}}</p>
                </div>
            </li>
        </ul>

    </div>
</li>