<li data-id="{{movie._id}}" (click)="movieWasClicked(movie)">
    <div class="movie-data">
        <div class="img">
            <img src="{{movie.imgUrl}}">
        </div>
        <div class="movie-title">
            <h4>{{movie.title}}</h4>
            <p>{{movie.year}}</p>
            <p>${{movie.price}}</p>
        </div>
        <div class="desc">
            {{movie.shortDescription}}
        </div>
        <i class="fa fa-trash" *ngIf="deleteMoviesFromPrivate == true"
            (click)="removePrivateMovie(movie)"></i>
    </div>
</li>